name: Docs

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: true

jobs:
    docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: oven-sh/setup-bun@v2
            - run: bun install
            - run: bun run docs:build

            - name: Upload built docs
              if: github.event_name != 'pull_request'
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/.vitepress/dist/

            - name: Deploy to GitHub Pages
              if: github.event_name != 'pull_request'
              id: deployment
              uses: actions/deploy-pages@v4
